<ng4-loading-spinner> </ng4-loading-spinner>
<div class="bg">
  <header>
    <h3 class="title"><b> SpaceX Launch Programs</b> </h3>
  </header>

  <div class="row marL">
    <div class="col-md-2">

      <label class="padLR cardfilter filter">
        <p class="padT"> <b>Filters</b></p>
        <p class="header"> <u> Launch Year</u></p>

        <button *ngFor="let year of lstYears; let i=index" [ngClass]="i == strYear ? 'btn-year active':'btn-year'"
          [id]="'btn'+i" (click)="fnGetFilterData(year['year'],statusLaunch,statusLand , 'year',i) ">
          <b> {{year['year']}} </b>
        </button>
        <p class="header"> <u> Succesful Launch</u></p>

        <button [ngClass]=" strLaunch=='1'?  'btn-year active': ' btn-year'" id="btn_launchtrue"
          (click)=" fnGetFilterData(selectedYear,true,statusLand , 'launch',1)">
          <b> True </b>
        </button>
        <button [ngClass]=" strLaunch=='0'?  'btn-year active': ' btn-year '" id="btn_launchfalse"
          (click)="fnGetFilterData(selectedYear,false,statusLand, 'launch',0) ; ">
          <b> False </b>
        </button>

        <p class="header"> <u> Succesful Landing</u></p>

        <button [ngClass]=" strLand=='1'?  'btn-year active': ' btn-year'" id="btn_landingtrue"
          (click)="fnGetFilterData(selectedYear,statusLaunch,true, 'land',1)">
          <b> True </b>
        </button>
        <button [ngClass]=" strLand=='0'?  'btn-year active': ' btn-year '" id="btn_landingfalse"
          (click)="fnGetFilterData(selectedYear,statusLaunch,false, 'land',0)">
          <b> False </b>
        </button>
      </label>

    </div>
    <div class="col-md-10 marLeft">
      <label *ngFor="let space of lstSpace;let k=index;  " class="card padLR marTB">
        <img class="imgcls" [src]="space['links']['mission_patch']" alt="space">
        <div class="ps" [perfectScrollbar]="config">

          <p class="marTB8 name">
            {{space['mission_name']}} #{{ space['flight_number'] }}
          </p>
          <p>
            <b> Mission Ids: </b> <span class="content" *ngIf="space['mission_id'].length==0"> None </span>
          </p>
          <ul>
            <li class="content" *ngFor="let mid of space['mission_id']; let i=index ">
              {{ mid }}
            </li>
          </ul>
          <p>
            <b> Launch Year: </b> <span class="content"> {{ space['launch_year'] }} </span>
          </p>
          <p><b> Successful Launch: </b> <span class="content"> {{ space['launch_success'] }} </span> </p>
          <p><b> Successful Landing: </b> <span class="content"> {{ space['launch_success'] }} </span></p>

        </div>
      </label>
      <h3 *ngIf="blnNodata" class='nodata'> {{noData}}</h3>

    </div>
  </div>

  <footer>
    <h5><b> Developed By </b> Swathi Tamiri</h5>
  </footer>